* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: auto;
  background-color: #F3F5F7;
} 

.container-content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}